<h1> New Cocktail </h1>
<div>
  <%= simple_form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit class: "btn btn-primary"%>
  <% end %>
</div>


<p><%= link_to "Back to List", cocktails_path%></p>
